[submodule "deps/lstm"]
	path = deps/lstm
	url = git@140.127.205.188:jamesljlster/lstm.git
[submodule "deps/tcpmgr"]
	path = deps/tcpmgr
	url = git@140.127.205.188:jamesljlster/tcpmgr.git
[submodule "deps/args"]
	path = deps/args
	url = git@140.127.205.188:jamesljlster/args.git
[submodule "deps/laneft"]
	path = deps/laneft
	url = git@140.127.205.188:jamesljlster/laneft.git
[submodule "deps/SimplePID"]
	path = deps/SimplePID
	url = git@140.127.205.188:jamesljlster/SimplePID.git
