[submodule "deps/lstm"]
	path = deps/lstm
	url = ../lstm.git
[submodule "deps/tcpmgr"]
	path = deps/tcpmgr
	url = ../tcpmgr.git
[submodule "deps/args"]
	path = deps/args
	url = ../args.git
[submodule "deps/laneft"]
	path = deps/laneft
	url = ../laneft.git
[submodule "deps/SimplePID"]
	path = deps/SimplePID
	url = ../SimplePID.git
[submodule "deps/ModConfig"]
	path = deps/ModConfig
	url = ../ModConfig.git
[submodule "deps/CSV_DataProc"]
	path = deps/CSV_DataProc
	url = ../CSV_DataProc.git
[submodule "deps/Wheel_Server"]
	path = deps/Wheel_Server
	url = ../Wheel_Server.git
[submodule "deps/Wheel"]
	path = deps/Wheel
	url = ../Wheel.git
